*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color:whitesmoke;
}
body{
    background-color: #121212;
    
}
nav{
    padding: 1rem;
    background-color: rgb(71, 68, 68);
}
nav a{
    border-radius: 10px;
    padding: 0 1rem;
    margin: 0 0.5rem;
    text-decoration: none;
    color:whitesmoke;
    font-size: 2rem;
    background-color: rgb(101, 100, 100);
}
.logo{
    background-color: transparent;
}
main{
    padding:0 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* height: 100%; */
}
input{
    padding:0 1rem;
    border: 2px whitesmoke solid;
    height: 3rem;
    font-size: 1rem;
    color: rgb(71, 68, 68);
    border-radius: 10px;
    border: 2px whitesmoke solid;
    border: 2px whitesmoke solid;
    /* width: 80%; */
}

.search{
    display: flex;
    padding: 0;
    /* text-align: center; */
    margin :2rem 0;
    border-radius: 10px;
    width: 40vw;
   
    /* overflow: hidden; */
}
.searchBox{
    padding:0 1rem;
    border: none;
    height: 3rem;
    width: 80%;
    font-size: 1rem;
    color: rgb(71, 68, 68);
    margin-right: 10px;
    /* border: 2px whitesmoke solid; */
    /* background-color: gray; */
    
}
.Btn{
    background-color:  rgb(101, 100, 100);
    height: 3rem;
    /* width: 20%; */
    border: none;
    padding: 0 10px;
    border-radius: 10px;
    border: 2px whitesmoke solid;
}
.tableHead{
    display: flex;
    border-bottom: 2px solid whitesmoke;
    margin-bottom: 1rem;
}
/* .tableHead::after{
    background-color: aliceblue;
    padding-top:2px;
} */
.tableHead h3{
    padding:10px 50px;
    border:1px solid whitesmoke;
}
li{
    padding: .5rem;
    list-style: none;
    border-bottom: 1px solid whitesmoke;
}
.data{
    margin-bottom: 2rem;
}

/* add page styles */


.add form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin:5rem 0;
}
.addBtn{
    width: 100%;
    font-size: 1rem;
    font-weight: 700;
}
.inputFields{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 2rem;
}
.inputFields label{
    margin-right: 2rem;
    font-size: 1.5rem;
    font-weight: 700;
}
.pagination a{
    padding: 10px;
    border: 1px solid whitesmoke;
    text-decoration: none;
}
#next,#prev{
    background-color: rgb(101, 100, 100);
}


.page{

    background-color: transparent;
}
footer{
    position: absolute;
    bottom:2rem;
    margin-top: 2rem;
    left: 45%;
    padding: 1rem;
}
